.characters {
  position: relative;
  margin-top: 1rem;
  font-family: Poppins, sans-serif;
}

.characters__content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.characters__title {
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 3px;

  position: absolute;
  top: 1.6rem;
  left: 2.5rem;

  padding-right: 6rem;
  border-bottom: 1px black solid;
}