@import 'src/common/StyleVariables';

.planets {
  @extend %section
}

.planets__content {
  @extend %content__placing
}

.planets__title {
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 3px;

  position: absolute;
  top: 1.6rem;
  left: 2.5rem;

  padding-right: 6rem;
  border-bottom: 1px black solid;
}