header {
  height: 10vh;


  div {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  a {
    text-decoration: none;
    color: black;
  }

  p {
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    color: white;
    position: relative;


    &:after {
      content: '';
      height: 2px;

      position: absolute;
      bottom: -1.5px;
      left: 0;

      background-color: aliceblue;
      width: 0;

      transition: width .2s linear;
    }

    &:hover {
      &:after {
        width: 100%;
      };
    }
  }

  img {
    max-width: 100%;
    height: auto;

    width: 150px;
    margin: 0 2rem 0 2rem;
  }
}

.link_active {
  transition: all .3s linear;

  p:after {
    width: 100%;
  }
}



