.App {
  background-image: url("https://wallpapers.com/images/hd/minimalist-star-wars-iphone-display-kvuhxbxsj37sl3xz.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;

  min-height: 100vh;
}

.main {
  min-height: 100vh;

  background-attachment: fixed;
  background-position: center;
  background-size: cover;

  background-image: url('https://external-preview.redd.it/EnAiB2RKnkzkctkcr57DDQzWI0zAysMvwRPeGlsi2r4.jpg?auto=webp&s=4116c7ef1078824b56291351194d5b85b446c61b');
}