%section {
  position: relative;
  margin-top: 1rem;
  font-family: Poppins, sans-serif;
}

%content__placing {
  display: flex;
  align-items: flex-start;
  flex-flow: row wrap;
  justify-content: center;
}

%profile {
  display: flex;
  padding-left: 2rem;
  padding-top: 4rem;

  img {
    max-width: 100%;
    height: auto;
    width: 350px;
    vertical-align: middle;
    border-radius: 10px;
  }
}

%profile__content {
  margin-left: 1rem;
  padding-left: 1rem;
  padding-top: 1rem;
  font-family: 'Poppins', sans-serif;

  background-color: rgba(black, .7);
  width: 100%;
  border-radius: 15px;
  overflow: hidden;

  h1 {
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 3px;

    margin-bottom: 1rem;
  }

  p {
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 300;

  }
}

%section__title {
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 5px;

  position: absolute;
  top: 1.6rem;
  left: 2.5rem;

  color: yellow;

  padding-right: 6rem;
  border-bottom: 3px #eaeaea solid;
}

%card {
  width: 18%;

  cursor: pointer;
  overflow: hidden;
  margin: .6rem;

  text-decoration: none;
  position: relative;

  color: yellow;
  h3 {
    letter-spacing: 2px;
    padding: .3rem;
    width: 100%;

    background: rgba(black, .7);

    position: absolute;
    left: 0;
    bottom: 16px;
  }
}

%card__image {
  overflow: hidden;

  img {

    border-radius: 10px;
    width: 100%;
    height: 350px;
    object-fit: cover;
  }
}