%section {
  position: relative;
  margin-top: 1rem;
  font-family: Poppins, sans-serif;
}

%content__placing {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
