.paginator {
  position: relative;
  padding-bottom: 3rem;
  color: black;
}

.paginator__content {
  position: absolute;
  right: 1.5rem;
  z-index: 2;
}

.paginator__list {
  display: flex;
  list-style: none;
  user-select: none;

  li {
    padding: .8rem;
    margin: 0.2rem;
    border-radius: 20px;
    cursor: pointer;
    background-color: #20375b;
  }
}

.paginator__number {
  color: rgba(white, 0.5);

  &:hover {
    transform: scale(1.2);
  }
}

.number__active {
  background-color: #199ac1 !important;
  transition: all .2s linear;
}

.paginator__list {
  button {
    border: none;
    width: 50px;
    border-radius: 10px;
    cursor: pointer;
    background-color: #dcaa05;
    transition: all .2s linear;

    &:hover {
      opacity: 0.5;
    }
  }

  button:first-child {
    margin-right: .6rem;
    transition: all .2s linear;

    &:hover {
      .left {
        transform: rotate(-225deg);
      }
    }
  }

  button:last-child {
    margin-left: .6rem;

    &:hover {
      .right {
        transform: rotate(315deg);
      }
    }
  }
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.left {
  transform: rotate(135deg);
  transition: all .2s linear;

  position: absolute;
  top: 20px;
  left: 22px;
}

.right {
  transform: rotate(-45deg);
  transition: all .2s linear;

  position: absolute;
  top: 20px;
  right: 22px;
}



